; Explorer configuration file
;
; I. Documentation
;
;   Comments
;   ----------------------------------------------------------------------------
;   Lines starting with a semicolon (and empty lines) are considered comments
;
;   Global options
;   ----------------------------------------------------------------------------
;   FONTNAME/K     Font name (e.g. "topaz.font")
;   FONTSIZE/N     Font size
;
;   Options for pane configuration (must be on the same line)
;   ----------------------------------------------------------------------------
;   CAPTION/K      Caption for tab
;   IMAGE/N        Image identifier
;   PATH/K         Path (defaults to the document's path if unspecified)
;   HELP/K         Selection help
;   REPORT/K       Status template (first %ld is replaced with number of files)
;   PATTERN/K      File pattern
;   DEPTH/N        Depth of subdirectories to be scanned
;   CLICK/K        Command to be executed if user clicks on a file
;   CLICKSHIFT/K   Command to be executed if user clicks on a file with SHIFT
;   CLICKALT/K     Command to be executed if user clicks on a file with ALT
;   CLICKCTRL/K    Command to be executed if user clicks on a file with CTRL
;   CLICKCAPTION/K Command to be executed if user clicks on tab
;   TOOLTIPS/S     Load special information and show as tooltips
;   SPECIALINFO/S  Show special information and show in file list
;
;   Placeholders in command strings
;
;   The first %s in command strings (CLICK/K,CLICKALT/K etc.) is replaced with
;   the full path of the file the user has selected. The second %s is replaced
;   with the file name of the selected file relative to the root directory. The
;   third %s is replaced with special information read from the file. You can
;   use %.0s anywhere in the command string to "skip" a %s (this is a formatting
;   template inserting a string of length 0, ie. nothing).
;
;   Using quotes and the asterisk character
;
;   The lines in this file are parsed by the OS function ReadArgs() when the
;   Explorer reads the configuration. ReadArgs() designates a special meaning to
;   the '*' character: while quotes normally are used as delimiter, a quote with
;   a preceding asterisk ('*"') is "the quote character". A 'n' with a preceding
;   asterisk ('*n') is "the linefeed character". And an asterisk with a
;   preceding asterisk ('**') is "the asterisk character". That's why you find
;   pattern strings of the form '**.xyz' in this file: the plug-in actually sees
;   this as '*.xyz'. Things get complicated for the command strings (CLICK/K,
;   CLICKALT, etc.) because these commands, when sent to GoldED, get
;   ReadArgs()-parsed again, this time by the editor. Consequently you have to
;   take two ReadArgs() passes into account for quotes and for the asterisk
;   character (tip: enable ARexx debugging in the editor configuration to see
;   incoming commands sent by the Explorer plug-in).
;
; II. Configuration follows:

CAPTION="" IMAGE=28 REPORT="%ld Program(s)" DEPTH=0 TOOLTIPS PATTERN="**.bas"                               CLICK="WINDOW USE=*"%s*" FORCE" CLICKALT="OPEN NAME *"%s*"" CLICKSHIFT="TEXT T=*"%.0s%s*"" HELP="This page shows BASIC source codes. Click|on a file name to open the file in a new|window. Click with ALT to open the file|in the current window. Click with SHIFT|to insert the file name."
CAPTION="" IMAGE=31 REPORT="%ld Example(s)" DEPTH=0 TOOLTIPS PATH="golded:add-ons/basic/interpreter/examples" CLICK="WINDOW USE=*"%s*" FORCE" CLICKALT="OPEN NAME *"%s*"" CLICKSHIFT="TEXT T=*"%.0s%s*"" HELP="This page shows BASIC examples. Click|on a file name to open the file in a new|window. Click with ALT to open the file|in the current window. Click with SHIFT|to insert the file name."

